
/* ================================================== 
                    CHAT HOME
   ================================================== */
.chatHome{
    border: 0.01rem solid #333;
    overflow: hidden;
}
/* ================================================== 
                    CHAT HEADER
   ================================================== */
.chatHeader #closeSearch,
.chatHeader #openSearch{
    cursor: pointer;
}
.chatHeader{
    transition: all 0.3s ease;
}
.chatHeader .chatHeaderBtnContainer{
    background-color: #432705;
    
}
/* ================================================== 
                    CHATS 
   ================================================== */
.chatHomeContainer{
    width: 400px;
    position: absolute;
    bottom: 15px;
    right: 20px; 
}
/* .chatHome{
    background-color: #d89356;
} */
.chats{
    overflow-x: scroll;
}
.chatHomeContainer #btn-toggle{
    float: right;
    outline: none !important;
    background-color: #e16d07;
}
.chatHome .chatHeader .chatNavbar .user img{
    width: 40px;
}
.userChat img{
    width: 40px;
}
/* ================================================== 
                SEARCH-FORM 
   ================================================== */
.searchForm #navbar-input-container input{
    outline: none !important;
}

/* ================================================== 
                        CHAT
   ================================================== */
.chatHome .chat .chatInfo{
    background-color: #e16d07;
    color: #333;
}


/* ================================================== 
                MESSAGES
   ================================================== */
.messages{
    height: 250px;
    overflow-y: auto;
    background-color: #edcaaa;
}
.messages .owner  {
    flex-direction: row-reverse;
}
.messages .owner .messageContent {
    /* d-flex flex-column align-items-end */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.messages .message .messageInfo{
    margin-right: 10px;
}
.messages .owner .messageInfo{
    margin-left: 10px;
}
.messages .message .messageInfo img,
.messages .owner .messageInfo img{
    width: 25px;
}
.messages .message .messageInfo span,
.messages .owner .messageInfo span{
    font-size: 12px;
}
.messages .message .messageContent img,
.messages .owner .messageContent img{
    width: 40%;
    object-fit: cover;
}
.messages .message .messageContent p{
    max-width: fit-content;
    border-radius: 0 10px 10px 10px;
}
.messages .owner .messageContent p{
    max-width: fit-content;
    border-radius: 10px 0 10px 10px;
}

/* ================================================== 
                CHAT INPUT  
   ================================================== */
.chatInput {
    background-color: #edcaaa;
}

.chatInput button{
    background-color: #e16d07;
    /* background-color: rgba(225, 109, 7, 0.5); */
}